.reservation {
  padding: 100px 0px 120px;
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin: 0 0 80px;
}

.form {
  max-width: 385px;
  font-family: "Inter", Arial, sans-serif;
}

.reservation__form {
  margin: 0 auto;
}

.form__fieldset {
  border: none;
}

.form__label {
  font-style: normal;
  font-weight: 500;
}

.form__input {
  display: block;
  width: 100%;
  margin: 8px 0 32px;
  height: 60px;
  border-radius: 4px;
}

.form__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  color: #fff;
  width: 100%;
  margin-bottom: 32px;
  padding: 0;
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  background-color: #2f80ed;
  height: 60px;
  transition: opacity 1s ease-in-out 0.7s;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
}

.form__checkbox {
  background-color: #2f80ed;
  background-image: url(/images/check.svg);
  margin: 0 12px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
